.mainDiv{ 
    background: #fff;
.pageNotfound {
    width: 100%;
    height: 100vh;

  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  img {
    width: 30%;
    margin-inline: auto;
    display: flex;
    align-self: center;
   
  }
  p{
    font-size: 20px;
  }
}
}