* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  // overflow: hidden;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.downloadData {
  border: 1px solid #eee;
  width: 90%;
  border-radius: 10px;
  button {
    padding: 10px 20px;
    text-align: center;
    width: 100%;

    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;

    &:hover {
      background: #000;
      border: 1px solid #eee;
      color: #fff;
    }
  }
}
.flexx {
  display: flex;
}
.al {
  align-items: center;
}

.g-1 {
  gap: 10px;
}
.jc {
  justify-content: center;
}
ul {
  display: none;
}
.recharts-wrapper {
  max-width: 400px !important;
  max-height: 300px !important;
}
.miniBox {
  background: #fff;
  color: #000;
  border-radius: 5px;
  // width: 40px;
  padding: 5px 10px;
  font-size: 19px;
}
@media screen and (max-width: 768px) {
  .miniBox {
    padding: 2px 4px;
  }
  .d-flex {
    gap: 40px !important;
  }
}
.smBox {
  height: 15vh !important;
  background: red;
}
.d-flex {
  display: flex;
  align-items: center;
  gap: 51px;
  padding-top: 3px;
}
table 
{
  tr{

  } 
   
} 
td{
  margin: 5px;
}
